@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  src: url(thindmsans.ttf) format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  src: url(NotoSansTC-Thin.ttf) format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  src: url(NotoSansJP-Thin.ttf) format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  src: url(NotoSansKR-Thin.ttf) format('truetype');
  font-weight: 100;
}

body {
  color: rgb(247, 0, 255);
  font-family: "Comic Sans", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  font-style: normal;
   height: 100%;
   background: url("bg.png") no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover; 
  
}

.bgtext{
    color: rgb(0, 0, 0);
    font-size: 90pt;
    font-family:
    'DM Sans',
    'Noto Sans TC',
    'Noto Sans JP',
    'Noto Sans KR',
    'Noto Sans',
    sans-serif;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    position: absolute;
    bottom: 2%;
    left: 2%;
}
.cbox{
    position: absolute;
    bottom: 5%;
    right: 2%;
}
.top{
    position: absolute;
    top: 0%;
    right: %;    
    width: 40vw;
}
